<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Portifolio-Ivan</title>

</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="/static/img/IMG-20231216-WA0053.jpeg" alt="foto ivan">
            <h1>Ivan Suiyama Silva</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://github.com/IvanSuiyama">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/ivan-silva-248042186/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Curriculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Portifolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column ">

                <h2 class="text-white text-shadow">Ivan Suiyama Silva</h2>
                <span id="subtitle" class="text-white text-shadow ">Estudante de programação</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center ">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Eu sou um estudante de programação que sonha em mudar o mundo desenvolvendo programas,
                        sites e aplicativos, estou sempre a procura de novos desafios,
                        sempre atualizando meus conhecimentos e aprimorando minhas softskills
                        para melhorar não so como profissional, mas tambem como pessoa.
                    </p>

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow mb-2" src="../static/img/IMG-20231216-WA0053.jpeg" alt="foto perfil">
                </div>

                <div class="col-md-8">
                    <h3>Estudante de Desenvolvimento de softaware multiplataforma</h3>
                    <p>Atualmente estudo programação na FATEC,
                        Faculdade tecnologica prof Jessen vidal</p>
                    <div class="row mt-3 mb-4">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-light">14 de março de 2001</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-light">São José dos Campos</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-light">São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    Instituição: <a href="https://fatecsjc-prd.azurewebsites.net/" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">FATEC</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobies: <span class="fw-light">Estudar programação - Jogar videogame -
                                        Caminhar</span>
                                </li>
                                <li class="list-group-item">
                                    Curiosidades: <span class="fw-light">Sou uma pessoa bem exótica / Não tenho medo de
                                        sonhar alto </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <p>Gosto de estudar a parte de backend e busco sempre me atualizar nas liguagens do momento, tenho
                        conhecimentos em banco de dados e em frontend tambem, mas minha area de interesse é a parte do
                        backend, minhas habilidades em destaque incluem: Proatividade, perfil de liderança e
                        adaptabilidade. </p>
                </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Como estudante de programação desenvolvi algumas habilidades técnicas e não técnicas, a maioria delas
                    estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Typescript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="69"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 69%">69%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="49"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 49%">49%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%">45%</div>
                        </div>
                        <p class="mt-3 mb-0">Javascript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">MYSQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 55%">55%</div>
                        </div>
                        <p class="mt-3 mb-0">React</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">GIT</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%">30%</div>
                        </div>
                    </div>
                </div>

                <hr class="w50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Persistente</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Scrum Master</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 65%">65%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Responsável</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Determinado</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Criativo</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="58"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 58%">58%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
            
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item">
                            <h4>Tecnólogo em Desenvolvimento de Software Multiplataforma</h4>
                            <h5>2023 - Atual</h5>
                            <p><em>Faculdade de Tecnologia FATEC Prof Jessen Vidal</em></p>
                            <p>Tecnólogo voltado a aprender a aprender, com as linguagens mais atuais do mercado, pytho, typescript, React
                                entre outras, visando a criação de sites, sistemas web e aplicativos mobile, com duração de 6 semestres
                            </p>
                        </div>
                        <div class="cv-item">
                            <h4>Tecnólogo em Manufatura Avançada</h4>
                            <h5>2019 - 2022</h5>
                            <p><em>Faculdade de Tecnologia FATEC Prof Jessen Vidal</em></p>
                            <p>Tecnólogo voltado a aprender a aprender, com metodologias Scrum,
                                com projetos integrados que forçam o aprendizado em todas
                                as materias do semestre.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Estoquista</h4>
                                    <h5>2023 - 2023</h5>
                                    <p><em>Oscar Calçados</em></p>
                                    <p>Fiquei responsável pelo e-comerce da empresa,
                                        no qual separava, verificava e enviava os produtos,
                                        manuseava o sistema de e-comerce e zelava pela organização do estoque.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Portifólio</h2>
            
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/foto-api2.jpg" class="card-img-top" alt="api2">
                                <div class="card-body">
                                    <h5 class="card-title">Sistema de Gerenciamento de Chamados</h5>
                                    <p class="card-text">Um sistema eficiente eficaz e capaz de gerenciar chamados que possue funcionalidades praticas de suporte, administrador e para os clientes</p>
                                    <div>
                                        <h3 class="subtitle-card">Colaborações pessoais no Projeto</h3>
                                        <p class="text-card-porti">Backend em geral, funções e classes, Banco de dados, Recurso de esqueci a senha e enviar email </p>
                                        <h3 class="subtitle-card">Tecnologias utilizadas </h4>
                                        <p class="text-card-porti">Typescript, React, Mysql, VSCode, Javascript </p>
                                    </div>
                                  
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/CoddingWarriors/Api_CoddingWarriors" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-github"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/foto-python1.png" class="card-img-top" alt="python1">
                                <div class="card-body">
                                    <h5 class="card-title">Exercicios em Python para praticar</h5>
                                    <p class="card-text">Diversos exercicios em python para praticar: variando desde exercicios mais simples, ate os mais complexos procurando sempre me atualizar ebuscando novos desafios</p>
                                    <div>
                                        <h3 class="subtitle-card">Tecnologias utilizadas </h4>
                                        <p class="text-card-porti">Python, VSCode </p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/IvanSuiyama/Python-Exercicios" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-github"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-4">
                        <div class="col-md-6">
                            <div class="card h-100">
                                <img src="../static/img/foto-mava.png" class="card-img-top" alt="mava">
                                <div class="card-body">
                                    <h5 class="card-title">Porta Giratoria com acionamento por CLP</h5>
                                    <p class="card-text">Um projeto desenvolvido na faculdade que consiste em uma porta giratoria com acionamento por um Controlador Logico Programavel que pode ser utilizada em diversas aplicações como linhas de produção</p>
                                    <div>
                                        <h3 class="subtitle-card">Colaborações pessoais no Projeto</h3>
                                        <p class="text-card-porti">Programação em clp, Impressão 3D, Documentação </p>
                                        <h3 class="subtitle-card">Tecnologias utilizadas </h4>
                                        <p class="text-card-porti">Autocad, Click02 Edit, Impressão 3D</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


        </section>

        <section class="pb-5 pt-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0 h-100">
                            <div class="endereco mt-5">
                                <h4><i class="bi bi-geo-alt"></i> Loalização:</h4>
                                <p>São José dos Campos, SP</p>
                                <br>
                                <br>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>ivan.suiya@gmail.com</p>
                            </div>

                            


                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29347.538220459173!2d-45.81346044999998!3d-23.1540527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4c1960ae06c3%3A0xeb1d5ffab9d3851f!2sJardim%20das%20Flores%2C%20S%C3%A3o%20Jos%C3%A9%20dos%20Campos%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1718412742426!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>




    <script src="/static/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>